* {
  margin:auto;
  padding: auto;
  /* text-align: center; */
  /* color: blue; */
}

.chat_section{
  
  justify-content: center;
  text-align: center;
  /* display: inline-block; */
  position: initial;
   /* width: 73vmax; */
}

.message_area{
  text-align: left;
  border: 2px solid green;
  position: inherit;
  border-radius: 14px;
  background-color: #423722;
  width: 59vmax;
  height: 78vmin;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 12px;
}

.incoming{
  
  color: rgb(45, 131, 24);
  margin-right: 4px;
  
}
.incoming h4{
  border: 1px solid green;
  background-color: rgb(214, 176, 214);
  width: 7vmax;
  border-radius: 10px;
  margin: 3px;
  font-size: 18px;
}
.incoming p{
  border:2px solid thistle;
  border-radius: 12px;
  background-color: rgb(23, 250, 227);
  width: 30vmax;
  font-size: 20px;
  margin: 3px;
  padding: 7px 22px;
}
.outgoing{
  margin-left: 3px;
  

}
.outgoing h4{
  border: 1px solid rgb(223, 238, 223);
  background-color: rgb(214, 176, 214);
  width: 7vmax;
  border-radius: 10px;
  margin-right: 2px;
  font-size: 18px;
}
.outgoing p{
  border:2px solid thistle;
  border-radius: 12px;
  background-color: rgb(23, 250, 227);
  width: 30vmax;
  font-size: 20px;
  margin-right: 2px;
  padding: 7px 22px;
}
textarea{
  border:2px solid seagreen;
  border-radius: 23px;
  margin: 11px;
  padding: 12px;
  width: 50vmax;
  height: 28px;
  font-size: 19px;
  color: salmon;
}
.Bname{
  /* border: 1px solid green; */
  border-radius: 23px;
  /* background: #94a09e; */
  color: rgb(153, 133, 167);
}